#karaoke .kara-text,
#karaoke .kara-text-highlight {
    display: inline-block;
    font-size: 50px;
    white-space: nowrap;
}

#karaoke .kara-text {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 100%);
}

#karaoke .kara-text-highlight {
    position: absolute;
    top: 0;
    left: 0;
    color: violet;
    text-shadow: 0px 0px 20px violet;
    overflow: hidden;
}

.aud-control {
    text-align: center;
    margin-top: 50vh;
}
